<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/nav') %>
    
    <div class="container mt-3">
        <h1><%= title %></h1>
        <div class="row">
            <% if (action != "undenfined" && action =="create") { %>            
                <div class="alert alert-success">
                    Created Blog!
                </div>
            <% } %>
            <% if (action != "undenfined" && action =="edit") { %>            
                <div class="alert alert-success">
                    Updated Blog!
                </div>
            <% } %>
            <% if (action != "undenfined" && action =="delete") { %>            
                <div class="alert alert-success">
                    Deleted Blog!
                </div>
            <% } %>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th>Command</th>
                </tr>
                </thead>
                <tbody>
                <% blogs.forEach(blog => { %>
                    <tr>
                        <th scope="row"><%= blog.Id %></th>
                        <td><%= blog.Title %></td>
                        <td><img src="/source/images/<%= blog.Image %>" width="50"></td>
                        <td><%= blog.Description %></td>
                        <td>
                            <a href="/admin/blogs/<%= blog.Id %>" class="btn-primary">Edit</a>
                            <a href="/admin/blogs/delete/<%= blog.Id %>" class="btn-danger">Delete</a>
                        </td>
                    </tr>
                <% }) %>              
                </tbody>
            </table>
        </div>    
    </div>
</body>
</html>